<section class="sobre-nosotros-container py-5">
  <div class="container">
    <h1 class="text-center mb-4">Sobre CodeMentor</h1>

    <!-- Sección de Tarjetas -->
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mb-4 d-flex justify-content-center">
        <div class="feature-card">
          <h3 class="card-title">Misión</h3>
          <p class="card-description">En CodeMentor, nuestro objetivo es ayudar a estudiantes, profesionales y autodidactas a organizar y personalizar su aprendizaje, brindando herramientas intuitivas y potentes basadas en inteligencia artificial.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 d-flex justify-content-center">
        <div class="feature-card">
          <h3 class="card-title">Visión</h3>
          <p class="card-description">Ser la plataforma educativa más confiable y completa para los desarrolladores, optimizando su tiempo y esfuerzo en la organización de recursos y el aprendizaje continuo.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 d-flex justify-content-center">
        <div class="feature-card">
          <h3 class="card-title">Nuestros Valores</h3>
          <p class="card-description">Innovación constante en la enseñanza</p>
          <p class="card-description">Accesibilidad y personalización</p>
          <p class="card-description">Confianza y seguridad en los datos de nuestros usuarios</p>
        </div>
      </div>
    </div>

    <h2 class="text-center mb-4">Conoce a Nuestro Equipo</h2> 

    <!-- Sección Conoce a Nuestro Equipo -->
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mb-4 d-flex justify-content-center">
        <div class="team-card">
          <img src="assets/FotoPerfil.jpg" alt="Miembro 1" class="img-fluid rounded-circle mb-3">
          <h3>Javier Villaseñor</h3>
          <p>Javier es nuestro líder de tecnología, apasionado por las nuevas tecnologías y con más de 10 años de experiencia en el sector.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 d-flex justify-content-center">
        <div class="team-card">
          <img src="assets/tia2.jpg" alt="Miembro 2" class="img-fluid rounded-circle mb-3">
          <h3>Ana Gómez</h3>
          <p>Ana es nuestra experta en marketing y comunicación, con un enfoque innovador y estratégico.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 d-flex justify-content-center">
        <div class="team-card">
          <img src="assets/tio1.jpg" alt="Miembro 3" class="img-fluid rounded-circle mb-3">
          <h3>Pedro Fernández</h3>
          <p>Pedro es nuestro diseñador UX/UI, asegurando que nuestra plataforma sea intuitiva y agradable para los usuarios.</p>
        </div>
      </div>
    </div>
  </div>
</section>
